<img src="/photo/{{user.photoName}}" alt="NoNe" , style="width: 150px; margin-top: 50px;">
<p>Name : {{user.name}}</p>
<p>Age : {{user.age}}</p>
<p>Email : {{user.email}}</p>
<p>Info user : {{user.getInfo}}</p>